body {
  font-family: Arial, sans-serif;
  background: hwb(256 30% 1%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 10px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.cell {
  background-color: #4c057f;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #140c15;
}

.cell:hover {
  background-color: #8908a3;
}

#status {
  margin: 20px;
  font-size: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bd88fe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}